/* Recipe Stylesheets*/
* {
    font-family: Arial, Helvetica, sans-serif;
}

.odin-banner{
    width: 400px;
    height: auto;
    align: center;
}

.top-banner{
    background-color: #008088;
    align: center;
}

.main-heading {color: white;
    background-color: black;
    font-weight: 900;

}

a {
 color: #008002;
 font-size: 22px;
 text-decoration: none;
}
a:visited {
    color: #008088;
}
a:hover, .m1:hover {
color: #008002;
background-color: #ffe400;
text-decoration: underline;
}

.recipe-menu{
    background-color: #ffe4cc;
}
